docker.enabled = true

params{
    inputDir = '/geb_mount/fastq_example'
    outdir = 'test'
    single_end = false
    qc_only = false

    fastqscreen_path = '/home/nicolawongwaiyee/bin/FastQ-Screen-0.15.2'
    fastqscreen_genomes = '/geb_mount/demultiplex/investigate_undetermined/FastQ_Screen_Genomes'


    // crispresso param
    amplicon_seq = "CTGACATTTCTCTTGTCTCCTCTgtgcccagggtgctggagaatccaaatgtcctctgatggtcaaagtcctggatgctgtccgaggcagccctgctgtagacgtggctgtaaaagtgttcaaaaagaccTCTGAGGGATCCTGGGAGC"
    guide_seq = "ttacagccacgtctacagca"
    coding_seq = ""
    batch = false
    crispresso_args = "--default_min_aln_score 40"
}

includeConfig 'conf/modules.config'