process{
    withName: 'MULTIQC_RAW'{
        ext.args = "--config ${params.multiqc_config}"
        publishDir = [
            path: { "${params.outdir}/qc/multiqc_raw" },
            mode: 'copy',
            pattern : '*'
        ]
    }

    withName: 'MULTIQC_TRIMMED'{
        //args = "--config ${params.multiqc_config}"
        publishDir = [
            path: { "${params.outdir}/qc/multiqc_trimmed" },
            mode: 'copy',
            pattern : '*'
        ]
    }

    /*
    withName: 'fastqScreen'{
        publishDir = [
            path: { "${params.outdir}/qc/fastqScreen" },
            mode: 'copy',
            pattern : '*'
        ]
    }
    */

    withName: 'FASTP'{
        publishDir = [
            path: { "${params.outdir}/clean/fastp" },
            mode: 'copy',
            pattern : '*'
        ]
    }


    withName: 'crispresso_batch'{
        publishDir = [
            path: { "${params.outdir}/crispresso2/crispresso_batch" },
            mode: 'copy',
            pattern : '*'
        ]
    }

    withName: 'crispresso'{
        ext.args = "${params.crispresso_args}"
        publishDir = [
            path: { "${params.outdir}/crispresso2/crispresso/${meta.id}" },
            mode: 'copy',
            pattern : '*'
        ]
        errorStrategy = 'ignore'
    }

    withName: 'crispresso_batch'{
        ext.args = "${params.crispresso_args}"
        publishDir = [
            path: { "${params.outdir}/crispresso2/crispresso/batch" },
            mode: 'copy',
            pattern : '*'
        ]
        //errorStrategy = 'ignore'
    }

}